version: "3"

services:
    etcd:
        image: bitnami/etcd
        environment:
            - ALLOW_NONE_AUTHENTICATION=yes
            - ETCD_NAME=etcd1
            - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
        ports:
            - "2379:2379"

    redis:
        image: redis:6-alpine
        ports:
            - "6379:6379"

    mysqldb:
        image: mysql:5.7
        command: --default-authentication-plugin=mysql_native_password
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: LGrk4IaS0Wflxw
            MYSQL_DATABASE: choyd

    mongodb:
      environment:
        MONGO_INITDB_ROOT_USERNAME: admin
        MONGO_INITDB_ROOT_PASSWORD: cuKpVrfZzUvg
      ports:
        - "27017:27017"
